
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <div class="row-sm">
    <div class="toolbar" role="banner">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="aboveMenu" class="pull-left"><mat-icon>account_circle</mat-icon></button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
              <a mat-menu-item routerLink="."><mat-icon class="text-info">account_box</mat-icon><span> Profile Info </span> </a>
              <a mat-menu-item routerLink="/helping"><mat-icon class="text-info">help</mat-icon><span> Helping </span> </a>
            </mat-menu>
    </div>
  </div> 
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="'side'"
                   [fixedInViewport]="mobileQuery.matches" [opened]="true" fixedTopGap="56">
            
            <mat-expansion-panel [expanded]="true" (opened)="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon >home</mat-icon><span class="m-l-sm font-md" >Maintain</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>              
                  <a mat-list-item routerLink="/pos/customer"><mat-icon fontSet="icon" fontIcon="icon-user"></mat-icon><span class="m-l-sm">Customer </span> </a>
                  <a mat-list-item routerLink="/pos/category" ><mat-icon fontSet="icon" fontIcon=" icon-briefcase"></mat-icon><span class="m-l-sm">Category </span> </a>
                  <a mat-list-item routerLink="/pos/item" ><mat-icon fontSet="icon" fontIcon="icon-grid"></mat-icon> <span class="m-l-sm">Category Item </span> </a>
                  <a mat-list-item routerLink="/pos/sale" ><mat-icon fontSet="icon" fontIcon="icon-basket"></mat-icon><span class="m-l-sm">Sales</span> </a>
                </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true" (opened)="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>settings</mat-icon><span class="m-l-sm font-md" >System</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list >              
                  <a mat-list-item routerLink="/pos/setting"><mat-icon fontSet="icon" fontIcon="icon-settings"></mat-icon><span class="m-l-sm">Setting </span> </a>
                  <a mat-list-item routerLink="/pos/helping" ><mat-icon fontSet="icon" fontIcon="icon-question"></mat-icon><span class="m-l-sm">Helping </span> </a>
                </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true" (opened)="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>library_books</mat-icon><span class="m-l-sm font-md" >Report</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list >              
                  <a mat-list-item routerLink="."><mat-icon fontSet="icon" fontIcon="icon-user"></mat-icon><span class="m-l-sm">Customer </span> </a>
                  <a mat-list-item routerLink="." ><mat-icon fontSet="icon" fontIcon=" icon-briefcase"></mat-icon><span class="m-l-sm">Category </span> </a>
                  <a mat-list-item routerLink="." ><mat-icon fontSet="icon" fontIcon="icon-grid"></mat-icon> <span class="m-l-sm">Category Item </span> </a>
                  <a mat-list-item routerLink="." ><mat-icon fontSet="icon" fontIcon="icon-basket"></mat-icon><span class="m-l-sm">Sales</span> </a>
                </mat-nav-list>
          </mat-expansion-panel>
        </mat-sidenav>
  
      <mat-sidenav-content>
        <div class="h-full">
            <router-outlet></router-outlet>
        </div>        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
