<div class="hbox bg-white-only" >

    <div class="col">
        <div class="vbox">
            <div class="wrapper padder-md">
                <div class="form-group m-b-none">
                    <button mat-raised-button color="primary" class="m-r-sm" (click)="newSaleData()"><mat-icon class="m-r-sm" >add</mat-icon><span>New Invoice</span></button>
                    <button mat-raised-button class="btn-info" >
                        <mat-icon class="m-r-sm" >search</mat-icon><span>Filter By Sale</span>
                    </button>
                </div>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-lg">
                            <div name="frmSale" class="form-validation" novalidate>
                                <div class="row row-sm">
                                    <div class="form-group col-md-6 m-b-sm">
                                        <label><span>Date :</span></label>
                                        <!-- <input type="text" id="itemCode" name="ItemCode" class="form-control" required /> -->
                                        <div class="input-group">
                                        <input type="text" class="form-control" [matDatepicker]="picker" [(ngModel)]="saleDataInfo.date_f" />
                                        <span class="input-group-btn">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
                                        </span>
                                    </div>
                                    </div>
                                    <div class="form-group col-md-6 m-b-sm">
                                        <label><span >Currency :</span></label>
                                        <input type="text" id="currency" name="currency" class="form-control" [(ngModel)]="saleDataInfo.currency_f" required />
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="form-group col-md-6 m-b-sm">
                                        <label><span >Invoice Number :</span></label>
                                        <input type="text" id="invno" name="invno" class="form-control " [(ngModel)]="saleDataInfo.inv_no_f" required />
                                    </div>
                                    <!-- <div class="form-group col-md-6 m-b-sm">
                                        <label><span >Customer Name :</span></label>
                                        <input type="text" id="custname" name="custname" class="form-control " [(ngModel)]="saleDataInfo.cust_name_f" required />
                                    </div> -->
                                    <div class="form-group col-sm-6">
                                        <label><span > Customer Name :</span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="saleDataInfo.cust_name_f" required />
                                            <span class="input-group-btn">
                                                <button mat-cust-button class="btn-info" style="padding-top: 3px; border-radius: 0px 4px 4px;">
                                                    <mat-icon >search</mat-icon>
                                                </button>
                                            </span>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="form-group m-b-sm text-right">
                                    <button type="submit" mat-raised-button class="btn m-b-xs btn-success m-r-sm"><span>Save</span></button> 
                                    <button type="submit" mat-raised-button class="btn m-b-xs btn-info m-r-sm" ><span>Update</span></button>
                                    <button mat-raised-button class="btn m-b-xs btn-danger "><span>Delete</span></button>
                                </div>
                                <div>
                                    <ejs-grid #grid [dataSource]='data' [selectionSettings]='selectionOptions' (rowSelected)='rowSelected($event)' [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true" [pageSettings]='pageSettings' >
                                        <e-columns>
                                        <e-column field='id_f' headerText='ID' textAlign='Right' width=80></e-column>
                                        <e-column field='CustomerName' headerText='Customer Name' ></e-column>
                                        <e-column field='Type' headerText='Type'></e-column>
                                        <e-column field='ShipCity' headerText='Ship City' ></e-column>
                                        <e-column field='SalePrice' headerText='Sale Price' width=150 [customAttributes]="{class: 'e-attr'}" format='C2' ></e-column>
                                        <!-- <e-column field='SalePrice' headerText='Sale Price' width=150 [customAttributes]="{class: 'e-attr'}"></e-column>                                         -->
                                        </e-columns>
                                    </ejs-grid>
                                    <!-- <mat-grid-list cols="4" rowHeight="40px">
                                        <mat-grid-tile
                                            *ngFor="let tile of tiles"
                                            [colspan]="tile.cols"
                                            [rowspan]="tile.rows"
                                            [style.background]="tile.color">
                                            {{tile.text}}
                                        </mat-grid-tile>
                                    </mat-grid-list> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>   
    </div>

</div>